/*Fonts*/

/*Fonts*/
/*===============Top menu=================*/
/*===Site logo===*/
@media only screen and (min-width: 1024px)
.l-top_menu .inner .logo{} 
.l-top_menu .inner .logo{
    background: url(https://i.imgur.com/AbqnuKD.png);
    margin: 8px 15px 0 10px;
    width: 125px;
    height: 25px; 
}
.l-top_menu .to-mobile-forum {
    color: #bababa;
    left: 140px;
    margin: 5px !important;
}
/*===Site logo===*/
/*===Top nav===*/
.x1200 .l-top_menu .inner{
	max-width: 1030px;
}
.l-top_menu{
    /*font-family: 'Ubuntu';*/
    font-weight: 700;
    text-transform: uppercase;
    text-decoration-color: #fe121b;
    height: 40px;
} 
.l-top_menu .menu-items{
    margin-left: 135px;
}
.l-top_menu .menu-items>.entry>a{
    font-size:14px;
    color: #fe121b;
    padding: 8px 10px 0;
    margin-left: 10px;
}
.l-top_menu .menu-items>.entry>.submenu>a{
    color: #fe121b;
    font-size:13px;
}
.l-top_menu .menu-items>.entry.calendar>a, .l-top_menu .menu-items>.entry.info>a{
    padding: 9px;
}
.to-top-fix, .l-top_menu {
	background: none;
	border-bottom: none;
    margin: 0 auto;
}
.l-top_menu .inner {
	background-color: #353535; 
	height: 40px;
  	border-radius: 6px;
}
/*===tournament icon===*/
.l-top_menu .menu-items>.entry>.contest{
    margin: 10px 5px 0 0;
}
.l-top_menu .menu-items>.entry>.contest:before{
    line-height: 6px;
}
.menu .unread-count:hover, .menu .contest:hover{
   	background: #fe121b !important;
}
/*===tournament icon===*/
/*===Search and mini avatar===*/
.menu .unread-count, .menu .contest{
  	background: #fe121b;
  	color: #353535;
}
.menu .avatar, .menu .unread-count, .menu .contest{
    border-radius: 10px;
}
.l-top_menu .menu-search, .l-top_menu .menu-userbox{
  	padding-top:4px;
}
.l-top_menu .submenu>.entry, .b-main_search .popup li{
    color: #fe121b;
}
/*===Search and mini avatar===*/
/*===Top nav===*/
/*===============Top menu===================*/
/*===============Profile head===============*/
.avatar>img{
    border-radius: 80px;
    border: 2px solid #fe121cc2;
    box-shadow: 0 0 7px #fe121cc2;
}
.p-profiles .profile-head .c-brief header, .p-profiles .profile-head .c-brief .avatar .profile-actions, .c-lists-info{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 6px;
    padding: 5px;
}
.b-stats_bar .bar{
  	border-radius: 6px;  
}
/*===Timelenes anime and manga===*/

.b-stats_bar .bar{
    box-shadow: 0 0 3px #000000c2;
}  
.b-stats_bar.anime .bar .first{
  	background: #3c3e3c;
}
.b-stats_bar.anime .bar .second{
  	background: #505050a6;
}
.b-stats_bar.manga .bar .first{
    background: #288a78;
} 
.b-stats_bar.manga .bar .second{
    background: #33776b5c;
}  
.b-stats_bar .bar .third{
  	background: #adadada8;
}
/*===Timelenes anime and manga===*/
/*===============Profile head==================*/
/*===============Profile content===============*/
/*===Histody===*/
.p-profiles .profile-head .c-history{
    border-radius: 6px;
    padding: 4px;
}
.p-profiles .profile-head .c-history.x3{
    background-color: rgba(255, 255, 255, 0.6);
}
.p-profiles .profile-head .c-history .entry .misc{
  	color: #353535 !important;
}
.p-profiles .profile-head .c-history .entry .misc.date{
 	color: #000000 !important;
}
/*===Histody===*/
/*===Fritends===*/
.cc-2>.c-column>.block:last-child, .cc-2>.c-column>.subcontent:last-child, .cc-2a>.c-column:last-child, .cc-2a>.c-column:nth-child(2n+1){
	height: 92px;
}
/*===Fritends===*/
/*===Clubs===*/

/*===Clubs===*/
/*===favorites===*/
.cc-2>.c-column>.block:last-child, .cc-2>.c-column>.subcontent:last-child, .cc-2a>.c-column:last-child, .cc-2a>.c-column:nth-child(2n+1){
	background-color: rgba(255, 255, 255, 0.6);
    padding: 5px;
    border-radius: 6px;
}
.cc-2>.c-column>.block:last-child, .cc-2>.c-column>.subcontent:last-child{
	height: 130px;
}
.b-catalog_entry .cover .image-decor img{
	border-radius: 6px;
}
/*===favorites===*/
/*===Statistic===*/
.cc-2>.c-column:nth-child(2n+1){
	background-color: rgba(255, 255, 255, 0.6);
  	border-radius: 6px;
  	padding: 4px;
}
.p-profiles-show .lifetime .bar {
    height: 10px;
    line-height: 5px;
}
.p-profiles-show .lifetime .cuts .cut {
    height: 10px;
    width: 2px;
    background: black;
}
.p-profiles-show .lifetime .times .time {
    font-size: 13px;
}
.bar.simple .bar.s3 { background: #7F7F7F;}
.bar.simple .bar:hover.s3 { background: #919191;}
.bar.simple .bar.s2 { background: #565656;}
.bar.simple .bar:hover.s2 { background: #7F7F7F;}
.bar.simple .bar.s1 { background: #444444;}
.bar.simple .bar:hover.s1 { background: #565656;}
.bar.simple .bar.s0 { background: #363636;}
.bar.simple .bar:hover.s0 { background: #444444;}
/*===Statistic===*/
/*===============Profile content===============*/
/*===============Common styles=================*/
body{
    background-image: url(https://i.imgur.com/nWs0Jf6.jpg);
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    background-attachment:fixed; 
}
.l-page{
    background-color: #2b2a2a85;
    border-radius: 6px;
}
.x1200 .l-page{
	max-width: 1000px;
}
.subheadline{
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0);
    border-left: none;
}  
/*===============Common styles=================*/