/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu:700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic,cyrillic-ext,latin-ext');
/*Fonts*/
/*===============Top menu=================*/
/*===Site logo===*/
.l-top_menu .inner .logo{
    background: url(https://i.imgur.com/AbqnuKD.png);
    margin: 10px 15px 0 10px;
    width: 125px;
    height: 25px; 
} 
.l-top_menu .inner .logo{
   background: url(https://i.imgur.com/AbqnuKD.png);
   margin: 10px 15px 0 10px;
   width: 125px;
   height: 25px; 
}
/*===Site logo===*/
/*===Top nav===*/
.l-top_menu{
    /*font-family: 'Ubuntu';*/
    font-weight: 700;
    text-transform: uppercase;
    text-decoration-color: #fe121b;
    height: 40px;
} 
.l-top_menu .menu-items{
      margin-left: 135px;
}
.l-top_menu .menu-items>.entry>a{
    font-size:14px;
    color: #fe121b;
    padding: 8px 10px 0;
    margin-left: 10px;
}
.l-top_menu .menu-items>.entry>.submenu>a{
   color: #fe121b;
   font-size:13px;
}
.l-top_menu .menu-items>.entry.calendar>a, .l-top_menu .menu-items>.entry.info>a{
   padding: 9px;
}
.to-top-fix, .l-top_menu {
background: none;
border-bottom: none;
}
.l-top_menu .inner {
background-color: #353535; 
height: 40px;
  border-radius: 6px;
}
/*===tournament icon===*/
.l-top_menu .menu-items>.entry>.contest{
    margin: 10px 5px 0 0;
}
.l-top_menu .menu-items>.entry>.contest:before{
    line-height: 6px;
}
.menu .unread-count:hover, .menu .contest:hover{
   background: #fe121b !important;
}
/*===tournament icon===*/
/*===Search and mini avatar===*/
.menu .unread-count, .menu .contest{
  background: #fe121b;
  color: #353535;
}
.menu .avatar, .menu .unread-count, .menu .contest{
   border-radius: 10px;
}
.l-top_menu .menu-search, .l-top_menu .menu-userbox{
  padding-top:4px;
}
.l-top_menu .submenu>.entry, .b-main_search .popup li{
    color: #fe121b;
}
/*===Search and mini avatar===*/
/*===Top nav===*/
/*===============Top menu===================*/
/*===============Profile head===============*/
.avatar>img{
    border-radius: 80px;
    border: 2px solid #fe121cc2;
    box-shadow: 0 0 7px #fe121cc2;
}
.p-profiles .profile-head .c-brief header, .p-profiles .profile-head .c-brief .avatar .profile-actions, .c-lists-info{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    padding: 5px;
}
.b-stats_bar .bar{
  border-radius: 5px;  
}
/*===Timelenes anime and manga===*/
.p-profiles-show .lifetime .bar {
    height: 10px;
    line-height: 5px;
}
.p-profiles-show .lifetime .cuts .cut {
    height: 10px;
    width: 2px;
    background-color: none;
}
.p-profiles-show .lifetime .times .time {
    font-size: 13px;
}
.b-stats_bar .bar{
    box-shadow: 0 0 3px #000000c2;
}  
.b-stats_bar.anime .bar .first{
    background: #3c3e3c;
}
.b-stats_bar.anime .bar .second{
    background: #505050a6;
}
.b-stats_bar.manga .bar .first{
    background: #288a78;
} 
.b-stats_bar.manga .bar .second{
    background: #33776b5c;
}  
.b-stats_bar .bar .third{
    background: #adadada8;
}
/*===Timelenes anime and manga===*/
/*===============Profile head==================*/
/*===============Profile content===============*/
/*===Histody===*/
.p-profiles .profile-head .c-history{
    border-radius:10px;
    padding: 4px;
}
.p-profiles .profile-head .c-history.x3{
    background-color: rgba(255, 255, 255, 0.6);
}
/*===Histody===*/
/*===============Profile content===============*/
/*===============Common styles=================*/
body{
    background-image: url(https://i.imgur.com/nWs0Jf6.jpg);
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    background-attachment:fixed; 
}
.l-page{
    background-color: #2b2a2a85;
}
.subheadline{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    border-left: none;
}  
/*===============Common styles=================*/